* {
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
}


/* FONTS */
@font-face {
  font-family: 'Young Serif';
  src: url('../fonts/YoungSerif-Regular.woff2') format('woff2'),
      url('../fonts/YoungSerif-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('../fonts/Outfit-SemiBold.woff2') format('woff2'),
      url('../fonts/Outfit-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('../fonts/Outfit-Bold.woff2') format('woff2'),
      url('../fonts/Outfit-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('../fonts/Outfit-Regular.woff2') format('woff2'),
      url('../fonts/Outfit-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



/* CUSTOM PROPS */

:root {
  /* FONTS */
  --body-font: "Outfit", "Arial", sans-serif;
  --heading-font: "Young Serif", "Arial", sans-serif;

  /* COLORS */
  --wenge-brown:#5f564d;
  --snow:#fff7fb;
  --dark-chorcoal:#312e2c;
  --dark-raspberry:#7a284e;
  --brandy-red:#854632;
  --eggshell:#f3e5d7;
  --white-coffee:#e3ddd7;
}



/* GLOBAL */

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing:inherit;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--eggshell);
  color: var(--wenge-brown);
  font-family: var(--body-font);
  font-size: 16px;
  line-height: 150%;
}

img {
  max-width: 100%;
  height: auto;
}


/* VISUALLY-HIDDEN */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}



/* AUTOFILL-STYLES */
/*
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--heading-color);
  -webkit-box-shadow: 0 0 0px 40rem #ffff inset;
} */

/* PLACEHOLDER STYLE */
/*
::placeholder {
  color: rgba(52, 49, 61, 0.5);
} */



/* MAIN-CONTENT */

.main-content {
  flex-grow: 1;
}

/* CARD */


.card-recipe__heading {
  margin: 0;
  margin-bottom: 24px;
  font-family: var(--heading-font);
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: var(--dark-chorcoal);
}

.card-recipe__description {
  margin-bottom: 32px;
}.card-recipe {
  width: 100%;
  max-width: 736px;
  margin-top: 123px;
  padding: 40px;
  background-color: #fff;
  border-radius: 24px;
}

.card-recipe__img {
  display: block;
  width: 656px;
  height: 300px;
  border-radius: 12px;
  margin-bottom: 40px;
}

/* CARD RECIPE TIME */

.card-recipe__time {
  background-color: var(--snow);
  padding: 28px;
  border-radius: 12px;
  margin-bottom: 32px;
}

.card-recipe__time-heading {
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 16px;
  color: var(--dark-raspberry);
}

.card-recipe__time-list {
  padding-left: 24px ;
}

.card-recipe__time-item {
  padding-left: 12px;

}

.card-recipe__time-item:not(:last-child) {
  margin-bottom: 8px;
}

/* CARD RECIPE INGREDIENTS*/

.card-recipe__ingredients {
  margin-bottom: 32px;
}

.card-recipe__ingredients-inner {
  border-bottom:1px solid rgb(227, 221, 215);
}

.card-recipe__ingredients-heading {
  font-family: var(--heading-font);
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color:var(--brandy-red);
  margin-bottom: 24px;
}

.card-recipe__ingredients-list {
  padding-left: 20px;
  margin-bottom: 32px;
}

.card-recipe__ingredients-item {
  padding-left: 20px;
}

.card-recipe__ingredients-item:not(:last-child) {
  margin-bottom: 8px;
}

/* CARD RECIPE INSTRUCTIONS */

.card-recipe__instructions {
  margin-bottom: 32px;
}

.card-recipe__instructions-inner {
  border-bottom:1px solid rgb(227, 221, 215);
}

.card-recipe__instructions-heading {
  font-family: var(--heading-font);
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 24px;
  color: var(--brandy-red);
}

.card-recipe__instructions-list {
  margin-bottom: 32px;
  list-style: none;
  counter-reset: instruction-item;
}

.card-recipe__instructions-item {
  display: flex;
  counter-increment: instruction-item;
}

.card-recipe__instructions-item:not(:last-child) {
  margin-bottom: 8px;
}

.card-recipe__instructions-item::before {
  margin: 0;
  margin-right: 16px;
  max-width: 24px;
  width: 100%;
  content: counter(instruction-item) ".";
  font-weight: 700;
}

.card-recipe__instructions-text {
  flex-grow: 1;
}

.card-recipe__instructions-bold {
  font-weight: 700;
}


/* CARD-RECIPE__NUTRITON */
.card-recipe__nutrition {
}
.card-recipe__nutrition-heading {
  margin-bottom: 24px;
  font-family: var(--heading-font);
  font-size: 28px;
  line-height: 28px;
}

.card-recipe__nutrition-description {
  margin-bottom: 24px;
}

.card-recipe__nutrition-table {
  width: 100%;
  text-align: left;
}

.card-recipe__nutrition-row {
  display: flex;
  padding-left: 32px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.card-recipe__nutrition-row:not(:last-child) {
  border-bottom:1px solid var(--white-coffee);
}

.card-recipe__nutrition-row:first-child {
  padding-top: 0;
}

.card-recipe__nutrition-row:last-child {
  padding-bottom: 0;
}

.card-recipe__nutrition-title {
  font-weight: 400;
  width: 50%;
}

.card-recipe__nutrition-info {
  font-weight: 700;
  width: 50%;
  color: var(--brandy-red);
}


/* RETINA BACKGROUND IMAGES */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}